---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import readingTime from "@/lib/utils/readingTime";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
const { summary_length } = config.settings;
const { posts } = Astro.props;
---

<div class="row">
  {
    posts.map((item: any) => (
      <div class="mb-8 md:col-4">
        <div class="card">
          <Image
            class="card-img"
            width={300}
            height={210}
            src={item.data.image}
            alt=""
          />
          <div class="card-content">
            <h3 class="h4 card-title">
              <a href={`/stories/${item.slug}`}>{item.data.title}</a>
            </h3>
           
          </div>
        </div>
      </div>
    ))
  }
</div>
