---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { posts } = Astro.props;
---

<div class="container mb-16">
  <h1 class="text-center my-8">Our Success Stories</h1>
  <div class="row">
    {
      posts.map((item: any) => (
        <div class="mb-8 md:col-4">
          <div class="card border border-black">
            <Image
              class="card-img"
              width={300}
              height={210}
              src={item.data.image}
              alt=""
            />
            <div class="card-content">
              <h3 class="h4 card-title">
                <a href={`/stories/${item.slug}`}>{item.data.title}</a>
              </h3>

            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
