---
import Base from "@/layouts/Base.astro";
import MapSvg from "@/components/programs/map-svg.astro";
---

<Base>
  <h1>Programs</h1>
  <div id="details-box" class="hidden"></div>

  <MapSvg />

  <script>
    var tooltipSpan = document.getElementById("details-box");

    document.addEventListener("mouseover", function (e) {
      const target = e.target as HTMLElement | null;
      if (target && target.tagName === "path") {
        const content = (target.dataset as DOMStringMap).name;
        const detailsBox = document.getElementById("details-box");
        if (detailsBox) {
          detailsBox.innerHTML = content || "";
          detailsBox.style.opacity = "100%";
        }
      } else {
        const detailsBox = document.getElementById("details-box");
        if (detailsBox) {
          detailsBox.style.opacity = "0%";
        }
      }
    });

    window.onmousemove = function (e) {
      var x = e.clientX,
        y = e.clientY;
      if (tooltipSpan) {
        tooltipSpan.style.display = "block";
        tooltipSpan.style.top = y + 20 + "px";
        tooltipSpan.style.left = x + "px";
      }
    };
  </script>
</Base>
